.box {
  border: $border;
  padding: 8px 13px;
  background-color: $c-bg-content;
  
  & * {
    margin: 0;
    padding: 0;
  }
  
  @extend .clearfix;
  
  img {
    display: block;
    border: none;
    padding: 0;
    margin: auto;
  }
  
  ol.breadcrumbs {
    font-size: $s-breadcrumbs;
    font-family: $f-breadcrumbs;
    font-weight: bold;
    padding-left: 13px;
    &:before {
      content: "//";
    }
    
    li {
      list-style-type: none;
      display: inline;
      margin-left: -0.25em;
      
      &:after {
        padding-left: 0.5em;
        content: "/";
      }
      
      &:last-child:after {
        content: "";
      }
      
    }
  }
  
  .postinfo {
    font-family: $f-breadcrumbs;
    font-weight: bold;
    padding-left: 13px;
    margin: 0;
  }
  
}
