// USED BY index-writing.md
.librarybox {
  background-color: $c-bg-content;
  margin: 1rem 0;
  
  a {
    display: inline-block;
    width: 100%;
    height: 48px;
    line-height: 48px;
    
    @extend .clearfix;
    
    .libicon {
      display: block;
      float: left;
      svg {
        border: none;
        background: none;
        padding: 4px 8px;
        width: 40px;
        height: 40px;
        fill: currentColor;
      }
    }
    
    p {
      padding: 0;
      display: inline;
    }
    
    .libname {
      font-size: $s-libname;
      font-family: $f-libname;
      font-weight: bold;
      padding-right: 1em;
    }
    
    .libdesc {
      font-size: $s-libdesc;
      font-family: $f-libdesc;
      color: $c-text-light;
    }
    
    &:hover {
      .libdesc {
        color: $c-text-light;
      }
    }
    
  }
}
