.librarybox { // USED BY index-writing.md
  background-color: $c-bg-content;
  border: $border;
  margin: 0.5rem 0;
  position: relative;
  
  a {
    display: inline-block;
    width: 100%;
    height: 48px;
    line-height: 48px;
    
    @media (max-width: $width) {
      height: auto;
    }
    
    .libicon {
      display: block;
      float: left;
      height: 48px;
      svg {
        border: none;
        background: none;
        padding: 4px 8px;
        width: 40px;
        height: 40px;
        fill: currentColor;
      }
    }
    
    p {
      padding: 0;
      display: inline;
    }
    
    .libname {
      font-size: $s-libname;
      font-family: $f-libname;
      font-weight: bold;
      padding-right: 1em;
      position: absolute;
      top: 0;
      left: 56px;
      
      @media (max-width: $width) {
        position: static;
        display: block;
      }
    }
    
    .libdesc {
      font-size: $s-libdesc;
      font-family: $f-libdesc;
      color: $c-text-light;
      position: absolute;
      top: 28px;
      left: 56px;
      
      @media (max-width: $width) {
        position: static;
        display: block;
      }
    }
    
    &:hover {
      .libdesc {
        color: $c-text-light;
      }
    }
    
  }
}

.libindex { //used by library index pages
  position: relative;
  
  .libinfo {
    height: 66px;
    border-bottom: $border;
    margin-bottom: 1em;
    
    @media (max-width: $width) {
      height: auto;
    }
    
    h2 {
      margin-left: 0;
    }
  }
  
  .libicon {
    position: absolute;
    top: -2px;
    right: 0;
    svg {
      border: $border;
      background: $c-bg-libicon;
      padding: 4px;
      width: 64px;
      height: 64px;
      fill: $c-libicon;
    }
    
    @media (max-width: 500px) {
      display: none;
    }
  }
}
