.postinfo {
  font-size: $s-postinfo;
  font-weight: normal;
  color: $c-postinfo;
  margin-top: -0.5em;
  margin-left: 1em;
  margin-bottom: 1em;
  
  a {
    color: $c-link-postinfo;
    
    &:hover {
      color: $c-link-postinfo-hover;
    }
  }
  
  .date {
    &:before {
      font-family: FontAwesome;
      margin-right: 0.5ex;
      //content: "\f017"; //fa-clock-o
      content: "\f073"; //fa-calendar
      //content: "\f133"; //fa-calendar-o
    }
  }
  
  .tags {
    font-size: $s-postinfo;
    font-weight: normal;
    display: inline;
    padding-left: 1ex;
    margin-left: 0;
    
    &:before {
      font-family: FontAwesome;
      margin-right: -0.25ex;
      //content: "\f02b"; //fa-tag
      content: "\f292"; //fa-hashtag
    }
    
    li {
      list-style-type: none;
      display: inline;
      
      &:first {
        padding-left: 0;
      }
      &:not(:last-child):after {
        content: ",";
      }
    }
  }
  
  .lib {
    @extend .tags;
    &:before {
      //content: "\f02d"; //fa-book
      content: "\f097"; //fa-bookmark-o
      margin-right: 0.5ex;
    }
  }
  
}

ul.postlist {
  list-style-type: square;
  & > li {
    font-size: $s-postlist;
    font-weight: bold;
  }
}
