.postinfo {
  font-size: $s-postinfo;
  margin-top: -0.5em;
  margin-bottom: 1em;
  .date {
    &:before {
      font-family: FontAwesome;
      padding-right: 0.5ex;
      content: "\f017"; //fa-clock-o
    }
  }
  .tags {
    display: inline;
    padding-left: 0.5em;
    margin-left: 0;
    
    &:before {
      font-family: FontAwesome;
      content: "\f02b"; //fa-tag
    }
    
    li {
      list-style-type: none;
      display: inline;
      
      &:not(:last-child):after {
        content: ",";
      }
    }
  }
}
