.projindex {
  .project {
    
    @extend .clearfix;
    
    background-color: $c-bg-content;
    border: $border;
    padding: 4px;
    margin-bottom: 8px;
    
    .projname {
      font-family: $f-headers;
      font-size: $s-libname;
      
      & > a {
        font-weight: bold;
      }
    }
    
    .projdesc {
      font-size: $s-libdesc;
      color: $c-text-light;
    }
    
    .projicon {
      float: right;
      margin-left: 8px;
    }
    
  }
}