.center {
  text-align: center;
}

.floatleft {
  float: left;
  margin-right: 1em;
}

.floatright {
  float: right;
  margin-left: 1em;
}

.backtotop {
  float: right;
  margin-right: $s-top-mr;
  margin-top: $s-top-mt;
  font-size: $s-top;
  
  &.footer {
    margin-top: $s-top-foot-mt;
    margin-right: 0;
  }
  
  section:last-of-type > & {
    display: none;
  }
}
