{% capture cb %}
{% comment %}
  Dear Future Shizu,
    Sorry for the mess. Liquid's newlines make this necessary.
    
    if (post has blurb var) {
      start output capture
        print the post blurb
        append 'read more' link
      end output capture
    } else {
      split post into sections by <hr /> as normal
      use second section (first section is title, subtitle, meta info)
      break into lines
      start output capture
        print N non-blank lines, where N is post.exlen or 10
        if last line doesn't end in '.', append '...' (even if it's ! or ? or ,)
        append 'read more' link
      end output capture
    }
    
    if (need to escape it for Atom feed) {
      run the output through markdown
      escape it
    } else {
      run the output through markdown
    }
    
  Love, Past Shizu
{% endcomment %}
{% assign post = include.post %}

{% assign sections = post.content | split: "<hr />" %}
{% assign cutout = sections[1] %}
{% assign exlength = post.exlen | default: 10 %}
{% assign lines = cutout | remove: '<p>' | remove: '</p>' | newline_to_br | split: "<br />" %}
{% assign count = 0 %}{% endcapture %}{% if post.blurb.size > 0 %}{% capture output %}{{ post.blurb }} <a class="read-more" href="{{ site.url }}{{ post.url }}">Read more <i class="fa fa-chevron-right"></i></a>{% endcapture %}{% else %}{% capture output %}{% for line in lines %}{% if line.empty? %}{% continue %}{% endif %}{{ line }}{% assign count = count | plus:1 %}{% if count > exlength %}{% assign end = line | slice:-1 %}{% unless end == '.' %}...{% endunless %}{% break %}{% endif %}{% endfor %} <a class="read-more" href="{{ site.url }}{{ post.url }}">Read more <i class="fa fa-chevron-right"></i></a>{% endcapture %}{% endif %}
{% if include.escape %}{{ output | markdownify | escape }}{% else %}{{ output | markdownify }}{% endif %}
