---
---
/*
 * This Vortal Cord - Shizuka Hokura Styles
 * Shizuka Kamishima - 2015-05-16
 */

@import 'colors';

@import '/assets/lit/libindex.css';

.bigtitle {
  font-size: 2.5em;
}

.postindex {
  margin-top: 1em;
  ul {
    li {
      list-style-type: circle;
    }
  }
}

.tagindex {
  @extend .postindex;
  
  .taginfo {
    border-bottom: $color-border 2px solid;
  }
  
  h2 {
    color: $color-text-light;
    display: inline;
  }
  
  .tagdesc {
    display: inline;
    font-size: smaller;
  }
  
  .tagbox:last-child {
    ul {
      padding-bottom: 1em;
    }
  }
  
}

.postinfo {
  display: block;
  margin-top: -0.5em;
  
  .tags {
    padding: 0;
    padding-left: 0.5em;
  }
}