---
---
/*
 * This Vortal Cord - Writing - Index Styling
 * Shizuka Kamishima - 2015-05-13
 */
 
@import 'colors';

.bigtitle {
  font-size: 2.25em;
}

.latestposts {
  /*
   * Most recent N posts in blog
   */
  background-color: mix($color-bk-code, $color-bk-content);
  margin-bottom: 0.5em;
  border: 0;
  border-radius: 10px;
  padding: 0.5em 0.5em 0.5em 0.75em;
  
  h2 {
    margin-top: 0;
  }
  
  h3 {
    margin-top: 0;
  }
  
  ul {
    padding-bottom: 0;
    line-height: 1.35em;
  }
}

.liblist {
  /*
   * /writing/            - one section, list of libraries
   */
   clear: both;
   border-top: $color-border 2px solid;
  
  section {
    border-top: $color-border 2px solid;
    
    &:last-child {
      border: 0;
      margin: 0;
    }
  }
  
  ul {
    padding-left: 0;
    padding-bottom: 0;
    li {
      margin: 1em 0;
      list-style-type: none;
      background-color: $color-bk-code;
      border-radius: 10px;
      padding: 0.5em 0.5em 0.5em 0.75em;
    }
  }
}

.liblink {
  /*
   * /writing/  - individual link to library
   * for increasing size etc
   */
  font-size: 1.25em;
  font-weight: bold;
}

.libinfo {
  font-size: smaller;
  color: $color-text-light;
  padding-bottom: 0;
}

.postlink {
  font-weight: bold;
}

.postinfo {
  color: $color-text-light;
  font-size: smaller;
  padding-left: 1ex;
  
  a {
    color: $color-link-light;
  }
  
  .lib {
    &:before {
      font-family: FontAwesome;
      padding-right: 0.5ex;
      content: "\f02d";
    }
  }
  
  .book {
    /*
    &:before {
      font-family: FontAwesome;
      padding-right: 0.5ex;
      content: "\f02e";
    }
    */
  }
  
  .date {
    &:before {
      font-family: FontAwesome;
      padding-right: 0.5ex;
      content: "\f017";
    }
  }
  
  .tags {
    display: inline;
    padding-left: 0.5em;
    
    &:before {
      font-family: FontAwesome;
      content: "\f02b";
    }
    
    li {
      list-style-type: none;
      display: inline;
      
      &:not(:last-child):after {
        content: ",";
      }
    }
  }
}

