---
---
/*
 * This Vortal Cord - Library Styles
 * Shizuka Kamishima - 2015-05-17
 */

@import 'colors';

@import '/assets/lit/libindex.css';

.latestposts {
  margin-bottom: 1.5em;
}

.libindex {

  .libbox {
    background-color: $color-bk-code;
    padding: 0.5em 0.5em 0.5em 0.75em;
    border-radius: 10px;
    margin-bottom: 1em;
    
    ul {
      margin-top: 1em;
      list-style-type: circle;
      line-height: 2em;
    }
  }
}