{% assign lib = page.library %}
{% assign libmeta = site.data.libraries.[lib] %}
{% assign libpages = site.writing | where: "library",page.library | sort: "date" %}
<section>
  
  <div class="latestposts">
    <h3>recently published</h3>
    <ul>
      {% assign recentpages = libpages | reverse %}
      {% for page in recentpages | limit: 3 %}
        <li><a class="postlink" href="{{page.url}}">{{page.title}}</a>
          <span class="postinfo">
          {% if page.book %}
          // <span class="book"><i class="fa fa-bookmark-o"></i> <a href="/writing/{{page.library}}/#{{page.book}}">{{site.data.libraries.[page.library].books.[page.book].name}}</a></span>
          {% endif %}
          </span>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
<section>
  <div class="libindex">
    {% capture books %}
      {% for book in libmeta.books %}
        {{book[0]}}
      {% endfor %}
    {% endcapture %}
    {% assign sortedbooks = books | split: ' ' | sort %}
    <div class="libbox" id="no-library">
    <h1><i class="fa fa-book"></i> {{libmeta.name}}</h1>
    {% if libmeta.desc %}<p class="libinfo">{{libmeta.desc}}</p>{% endif %}
      {% assign bookpages = libpages | where: "book", null %}
      <ul>
      {% for page in bookpages %}
      <li><a href="{{page.url}}">{{page.title}}</a></li>
      {% endfor %}
      </ul>
    </div>
    {% for book in sortedbooks %}
    {% assign bookmeta = libmeta.books.[book] %}
    {% assign bookpages = libpages | where: "book", book %}
    <div class="libbox" id="{{book}}">
      <h2><i class="fa fa-bookmark-o"></i> {{bookmeta.name}}</h2>
      {% if bookmeta.desc %}<p class="bookinfo">{{bookmeta.desc}}</p>{% endif %}
      <ul>
        {% for page in bookpages %}
        <li><a href="{{page.url}}">{{page.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</section>