        <div id="contentwrapper">
          <article>
            {% assign sections = content | split:"<hr />" %}
            {% for sectioncontent in sections %}
            <section>
              {{ sectioncontent }}
              <a class="top" href="#">top</a>
            </section>
            {% endfor %}
          </article>
          <footer>
            <a href="{{ site.github.repository_url }}" class="noext">this vortal cord</a> | shizuka kamishima | {% if page.date %}{{ page.date }}{% else %}{{ site.time | date: "%F" }}{% endif %}<br/>
            <a href="#">top</a> | <a href="{{ site.github.repository_url }}/raw/master/{{ page.path }}" class="noext">src</a>
          </footer>
        </div>