<aside id="sidebar">
  <div class="box">
    <section>
      <h3>shizuka kamishima</h3>
      <blockquote>the risk to remain tight in a bud <br>
      is more painful <br>
      than the risk it takes to blossom</blockquote>
    </section>
    <section>
      <ul class="sidenav">
        <li>twitter: <a href="">@kamishizuka</a></li>
        <li>github: <a href="">shizuka</a></li>
        <li>keybase: <a href="">kamishizuka</a></li>
        <li>steam: <a href="">KamiShizuka</a></li>
        <li>youtube: <a href="">KamiShizuka</a></li>
        <li>ponychat irc: Shizuka</li>
      </ul>
    </section>
    <section>
      <h4>recent updates</h4>
      <ul>
        <li>bronystate 3.0 postmortem</li>
        <li>the talos time capsules</li>
        <li>being an edge case</li>
        <li>hikaribot</li>
        <li>bronystate 3.0</li>
      </ul>
    </section>
    <section class="footer">
      <a href="">page src</a> | <a href="">rss feed</a>
    </section>
  </div> <!-- .box -->
  <section></section>
</aside> <!-- #sidebar -->
