<!-- zone - library index -->
<section class="libindex">
  <div class="libinfo">
    <h1 class="libname">{{ lib.name }}</h1>
    <h2 class="libdesc">{{ lib.desc }}</h2>
    <div class="libicon">{% assign icon = 'svg/' | append: lib.icon | append: '.svg' %}{% include {{ icon }} %}</div>
  </div>
  <ul class="postlist">
    {% for post in libpages %}
    <li><a href="{{ post.url }}">{{ post.title }}</a>
        {% include meta_postinfo.html nolib=true %}
    </li>
    {% endfor %}
  </ul>
</section>
