<!-- zone - sidebar -->
<aside id="sidebar">
  <div class="box">
    <section>
      <h3>shizuka kamishima</h3>
      <blockquote>the risk to remain tight in a bud <br>
      is more painful <br>
      than the risk it takes to blossom</blockquote>
    </section>
    <section>
      <ul class="contacts nobullet">
        <li><i class="c-link fa fa-fw fa-envelope"></i> <span class="c-text-light">shizuka@vortalcord.net</span></li>
        <li><a class="noext" title="shizuka on Github" tooltip="//github" href="https://github.com/shizuka"><i class="fa fa-fw fa-github"></i> shizuka</a></li>
        <li><a class="noext" title="@kamishizuka on Twitter" tooltip="//twitter" href="https://twitter.com/kamishizuka"><i class="fa fa-fw fa-twitter"></i> kamishizuka</a></li>
        <li><a class="noext" title="kamishizuka on Keybase" tooltip="//keybase" href="https://keybase.io/kamishizuka"><i class="fa fa-fw fa-key"></i> kamishizuka</a></li>
        <li><a class="noext" title="YouTube - KamiShizuka" tooltip="//youtube" href="https://www.youtube.com/user/KamiShizuka/"><i class="fa fa-fw fa-youtube"></i> KamiShizuka</a></li>
        <li><a class="noext" title="Steam - KamiShizuka" tooltip="//steam" href="https://steamcommunity.com/id/kamishizuka"><i class="fa fa-fw fa-steam"></i> KamiShizuka</a></li>
      </ul>
    </section>
    <section>
      <h4>recent writings</h4>
      <ul class="recentlist">
        {% for post in allposts limit:5 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          {% include meta_postinfo.html noprefix=true notags=true %}
        </li>
        {% endfor %}
      </ul>
    </section>
    <section class="footer">
      <a href="">page src</a> | <a href="">rss feed</a>
    </section>
  </div> <!-- .box -->
  <section></section>
</aside> <!-- #sidebar -->
