// This Vortal Cord - Colors
// Shizuka Kamishima - 2015

//blocks
$color-bk-page:       #eac99a;
$color-bk-content:    #efe4bd;
$color-bk-code:       #f7f2de;
$color-bk-blockquote: #bab293;
$color-border:        #a39770;

//words
$color-text:                  #2b2922;
$color-text-light:            #65655a;
$color-link:                  #a32500;
$color-link-light:            lighten($color-link, 30%);
$color-link-nav:              #804500;