//This Vortal Cord - Color Palettes
//Shizuka Kamishima

$color-bg: #eac99a;
$color-bg-top: #bab293;
$color-bg-content: #efe4bd;
$color-border: #a39770;
$color-link-nav: lighten(#efe4bd, 20%);
$color-link: #a32500;
$color-text: #2b2922;
$color-text-light: lighten($color-text, 20%);