//This Vortal Cord - Stylesheet Builder
//Shizuka Kamishima
//Inspired by Desert Sand by Free CSS Templates
//**** IMPORTS ****//
@import 'colorpalette';

/***** PAGE *****/
* {
  margin: 0;
  padding: 0;
}

body {
  background: url("/assets/img/100-75-5-monochrome.png"), linear-gradient(rgba($color-bg-top, 1) 0, rgba($color-bg-top, 0) 100px) no-repeat, $color-bg;
  
  font-family: Verdana;
  font-size: 13px;
  color: $color-text;
}

/***** ELEMENTS *****/
p {
  line-height: 1.75em;
  padding-bottom: 1rem;
  
  &:last-child {
    padding-bottom: 0;
  }
}

ul,ol {
  line-height: 1.75em;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  
  &.nobullet {
    list-style-type: none;
    padding-left: 0;
  }
}

%hx {
  line-height: 1em;
  margin-bottom: 0.5em;
  margin-left: -0.25em;
  color: $color-text-light;
  
  margin-top: 0.25em;
  &:first-child {
    margin-top: -0.25em;
  }
}

h1 {
  @extend %hx;
  font-size: 2em;
}

h2 {
  @extend %hx;
  font-size: 1.5em;
}

h3 {
  @extend %hx;
  font-size: 1.25em;
}

a {
  display: inline-block;
  color: $color-link;
  text-decoration: none;
  &:visited {
    color: $color-link;
  }
  &:hover, &:active {
    text-decoration: underline;
  }
  
  //external links
  &[href^="http://"], &[href^="https://"] {
    &:after {
      content: url('/assets/img/extlink.png');
      margin: 0 0 0 3px;
    }
  }
  //exempt our domain, or specifically marked links
  &[href*="//www.vortalcord.net/"], &.noext {
    &:after {
      content: '';
      margin: 0;
    }
  }
}

strong {
  font-weight: bold;
  color: $color-text-light;
}

img {
  padding: 2px;
  background-color: $color-bg-content;
  border: 2px solid #a39770;
  
  &.noborder {
    padding: 4px; //to keep spacing with bordered ones
    background: none;
    border: none;
  }
}

blockquote {
  background-color: $color-bg-content;
  padding: 1em;
  margin-bottom: 1em;
  font-style: italic;
  font-size: 0.85em;
  overflow-x: hidden;
  
  &.noitalic {
    font-style: normal;
  }
}

code {
  background-color: $color-bg-content;
  padding: 0 0.25em;
  //font-family: $code-font;
}

pre {
  padding: 1em;
  margin-bottom: 1.5em;
  background-color: $color-bg-content;
  overflow-x: auto;
  font-size: smaller;
}

/***** MODIFIERS *****/
.center {
  text-align: center;
}

.floatleft {
  float: left;
  margin-right: 1em;
}

.floatright {
  float: right;
  margin-left: 1em;
}

.backtotop {
  float: right;
  margin-right: -1em;
  margin-top: 0.5em;
  font-size: 11px;
  
  &.footer {
    margin-top: -1.5em;
    margin-right: 0;
  }
  
  section:last-of-type > & {
    display: none;
  }
}

/***** ZONES *****/
header {
  display: block;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  
  #logo {
    float: left;
    a {
      color: $color-text-light;
      &:hover {
        color: $color-link-nav;
      }
    }
    svg {
      border: none;
      background: none;
      padding: 0;
      width: 80px;
      height: 80px;
      fill: currentColor;
    }
    h1 {
      margin: 0;
      padding: 0;
      font-size: 28px;
      margin-top: 24px;
      padding-left: 5px;
      float: right;
    }
  } // #logo
  
  nav {
    float: right;
    margin-top: 28px;
    font-size: 14px;
    font-weight: bold;
    ul {
      padding-bottom: 0;
      display: inline;
    }
    li {
      margin: 0;
      padding: 0 0.25em 0.25em 0;
      list-style-type: none;
      list-style-position: outside;
      float: left;
      &:after {
        content: " / ";
      }
      &:last-child:after {
        content: "";
      }
      
      a {
        color: $color-link-nav;
        &.youarehere {
          &:before {
            content: "[";
          }
          &:after {
            content: "]";
          }
        }
        &:visited {
          color: $color-link-nav;
        }
      }
    }
  } // nav
} // #header

#wrapper {
  margin: auto;
  width: 760px;
}

#contentwrapper {
  clear: both;
  width: 500px;
  float: right;
}

#sidebar {
  float: left;
  width: 230px;
  
  .box {
    padding: 15px 15px 15px 15px;
    
    h3 { //name
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 17px;
      color: $color-text;
    }
    blockquote { //tagline
      margin: 0;
      padding: 0;
      padding-top: 0.5em;
      text-align: center;
      font-size: 0.85em;
      line-height: 1.5em;
      font-style: oblique;
      color: $color-text-light;
    }
    
    h4 { //headings
      font-size: 14px;
      margin-top: -5px;
      margin-bottom: 5px;
      color: $color-text-light;
    }
    
    ul.sidenav {
      @extend ul.nobullet;
      margin-top: -10px;
      padding-left: 1em;
    }
  }
}

.box {
  border: solid $color-border 2px;
  padding: 1em;
  background-color: $color-bg-content;
  
  img {
    display: block;
    border: none;
    padding: 0;
    margin: auto;
  }
  
  blockquote {
    font-size: 0.85em;
  }
  
  section {
    padding: 1rem 0 0.5rem 0;
    margin: 0;
    box-shadow: none;
    &:first-child {
      padding-top: 0;
      border-top: none;
    }
    &:last-child {
      padding-bottom: 0;
    }
    & *:last-child {
      padding-bottom: 0;
    }
  }
}

section {
  clear: both;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: inset 0 40px 40px -40px rgba($color-border, 1);
  border-top: 2px $color-border solid;
  
  .box + & {
    border: none;
  }
}

footer {
  clear: both;
  margin-bottom: 1rem;
  border-top: 2px rgba($color-border, 0.5) solid;
  border-bottom: 2px rgba($color-border, 0.5) solid;
  
  font-size: 0.85em;
  text-align: center;
  padding: 0.25em;
  p {
    padding-bottom: 0;
  }
}
