---
---
/*
 * This Vortal Cord - Headerbox
 * Shizuka Kamishima - 2015-05-10
 */

@import 'colors';

.headerbox {
  overflow-x: hidden;
  background-color: $color-bk-code;
  padding: 1em 1em 1em 2em;
  border-radius: 5px;
}