---
layout: css
---
/*
 * This Vortal Cord - Fifth Edition
 * Shizuka Kamishima - {{ site.time | date: "%F" }}
 */

@import 'globalstyles';

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  color: $color-text;
  font-family: $body-font;
  font-size: small;
  background-color: $color-bk-page;
  background-image: url("/assets/img/100-75-5-monochrome.png");
  background-attachment: fixed;
}

#wrapper {
  //sets the width of the whole thing
  width: 800px;
  margin: auto;
}

#logo {
  display: block;
  width: 160px;
  height: 160px;
  float: left;
  overflow: hidden;
  background: url("/assets/img/logo160.png") 0 0 no-repeat;
  text-decoration: none;
  position: fixed;
  margin-top: 1.5em;
  z-index: 2;
}

#mainwrapper {
  //everything that isn't the logo, to offset it
  width: 640px;
  float: right;
  padding-bottom: 5em;
}

header {
  margin-left: -0.5em;
  padding-left: 1.5em;
  border-bottom: $color-border solid 10px;
  width: 640px;
  position: fixed;
  padding-top: 4.5em;
  background-color: $color-bk-page;
  background-image: url("/assets/img/100-75-5-monochrome.png");
  z-index: 1;
  
  h1 {
    font-family: $title-font;
    font-size: 3em;
    line-height: 1em;
    padding: 0 0 0 0.125em;
    margin: 0;
    color: $color-text-light;
  }
  
  nav {
    line-height: 1.5em;
    margin-left: 0.5em;
    font-weight: bold;
    color: $color-text-light;
    
    p {
      padding-bottom: 0;
      display: inline;
      margin-left: -0.75em;
      &:before {
        content: "// ";
      }
    }
    
    ul {
      padding-bottom: 0;
      display: inline;
    }
    
    li {
      margin: 0;
      padding: 0 0.25em 0.25em 0;
      list-style-type: none;
      list-style-position: outside;
      float: left;
      &:after {
        content: " - ";
      }
      &:last-child:after {
        content: "";
      }
      
      a {
        color: $color-link-nav;
        &.youarehere {
          &:before {
            content: "[";
          }
          &:after {
            content: "]";
          }
        }
        &:visited {
          color: $color-link-nav;
        }
      }
    }
  }
}

#contentwrapper {
  background-color: $color-bk-content;
  margin-left: 1.5em;
  padding: 11em 2em 1.5em; //large top padding to clear the header
  
  a > img {
    border-color: $color-link;
    &:hover {
      border-style: dotted;
    }
  }
}

article {
  section {
    clear: both;
    border-bottom: $color-border solid 2px;
    margin-bottom: 1em;
    
    &:last-child {
      a.top {
        display: none;
      }
    }
    
    a.top {
      font-size: smaller;
      float: right;
    }
  }
}

hr {
  clear: both;
  border: 0;
  border-bottom: $color-border solid 2px;
  margin-bottom: 1em;
}

p {
  line-height: 1.75em;
  padding-bottom: 1em;
}

a {
  display: inline-block;
  color: $color-link;
  text-decoration: none;
  &:visited {
    color: $color-link;
  }
  &:hover, &:active {
    text-decoration: underline;
  }
  
  //external links
  &[href^="http://"], &[href^="https://"] {
    &:after {
      content: url('/assets/img/extlink.png');
      margin: 0 0 0 3px;
    }
  }
  //exempt our domain, or specifically marked links
  &[href*="//www.vortalcord.net/"], &.noext {
    &:after {
      content: '';
      margin: 0;
    }
  }
}

//link target offsetting for the sticky header
:target:before {
    display: block;
    content: " "; 
    margin-top: -7em; 
    height: 7em; 
    visibility: hidden; 
}
//special case for footnote sources
sup:before {
  display: inline-block !important;
  padding-top: 15em;
}

strong {
  font-weight: bold;
  color: $color-text-light;
}

ul,ol {
  line-height: 1.75em;
  padding-bottom: 1.5em;
  padding-left: 1em;
}

h1,h2,h3 {
  font-family: $header-font;
  line-height: $hx-lineheight;
  margin-top: 0.5em;
  margin-bottom: 0.25em;

}

h1 {
  font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
}

img {
  padding: 1px;
  border: 2px solid #a39770;
  border-radius: 10px;
  
  &.noborder {
    padding: 3px; //to keep spacing with bordered ones
    border: none;
    border-radius: 0;
  }
}

.floatleft {
  float: left;
  margin-right: 1em;
}

.floatright {
  float: right;
  margin-left: 1em;
}

.center {
  text-align: center;
}

blockquote {
  background-color: $color-bk-blockquote;
  padding: 1em 1.25em 0;
  margin-bottom: 1em;
  font-style: italic;
  font-size: 0.85em;
  overflow-x: hidden;
}

code {
  background-color: $color-bk-code;
  font-family: $code-font;
}

pre {
  padding: 1em;
  margin-bottom: 1.5em;
  background-color: $color-bk-code;
  overflow-x: auto;
  font-size: smaller;
}

.footnotes ol {
  clear: both;
  border-top: $color-border solid 2px;
  padding-bottom: 0;
  padding-top: 1em;
  padding-left: 3em;
  font-size: smaller;
  list-style-position: outside;
  
  &:before {
    content: "Footnotes";
  }
}

footer {
  clear: both;
  font-size: smaller;
  text-align: center;
}

