---
---
/*
 * This Vortal Cord - Projects
 * Shizuka Kamishima - 2015-05-10
 */

@import 'colors';

.projects {
  margin-top: 1.5em;
}

.projects section {
  clear: both;
  background-color: #f7f2de;
  margin-bottom: 1em;
  border: 0;
  border-radius: 10px;
  padding: 0.5em 0.5em 0.5em 0.75em;
}