---
---
/*
 * This Vortal Cord - Section Boxes
 * Shizuka Kamishima - 2015-05-10
 */

@import 'colors';

.sectionboxes {
  margin-top: 1.5em;
}

.sectionboxes section {
  clear: both;
  background-color: $color-bk-code;
  margin-bottom: 1em;
  border: 0;
  border-radius: 10px;
  padding: 0.5em 0.5em 0.5em 0.75em;
}