footer {
  clear: both;
  margin-bottom: 1rem;
  border-top: $border-footer;
  border-bottom: $border-footer;
  
  font-size: $s-footer;
  font-family: $f-footer;
  text-align: center;
  padding: $s-footer-pad;
  p {
    padding-bottom: 0;
  }
}
