header {
  display: block;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  
  @extend .clearfix;
  
  @media (max-width: $w-thin) {
    height: auto;
    margin-bottom: 4px;
  }
  
  #logo {
    float: left;

    @media (max-width: $w-thin) {
      text-align: center;
      float: none;
      margin-bottom: 0;
    }
    
    a {
      color: $c-logo;
      text-decoration: none;
      @include transition(all .2s cubic-bezier(.25,.46,.45,.94));
      &:hover {
        text-decoration: none;
        color: $c-logo-hover;
      }
    }
    svg {
      border: none;
      background: none;
      padding: 0;
      width: 80px;
      height: 80px;
      fill: currentColor;
    }
    h1 {
      margin: 0;
      padding: 0;
      font-family: $f-logo;
      font-size: $s-logo;
      font-weight: normal;
      margin-top: $s-logo-mt;
      padding-left: $s-logo-pl;
      float: right;
      color: currentColor;
      
      @media (max-width: $w-thin) {
        float: none;
        text-align: center;
        margin-top: 0;
      }
    }
  } // #logo
  
  nav {
    float: right;
    margin-top: $s-nav-mt;
    font-size: $s-nav;
    font-family: $f-nav;
    font-weight: bold;
    
    @extend .clearfix;
    
    @media (max-width: $width) {
      margin-top: 0;
      margin-bottom: 8px;
    }
    
    @media (max-width: $w-thin) {
      float: none;
    }
    
    ul {
      padding: 0;
      display: block;
      @extend .clearfix;
      text-align: center;
    }
    li {
      margin: 0;
      padding: 0.25em;
      padding-right: 0;
      list-style-type: none;
      list-style-position: outside;
      display: inline;
      &:after {
        color: $c-link-nav-sep;
        content: " / ";
      }
      &:last-child:after {
        content: "";
      }
      
      a {
        color: $c-link-nav;
        &:visited {
          color: $c-link-nav;
        }
        &:hover {
          color: $c-link-nav-hover;
        }
        &.youarehere {
          color: $c-link-yah;
          &:before {
            color: $c-link-nav;
            content: "[";
          }
          &:after {
            color: $c-link-nav;
            content: "]";
          }
          &:hover {
            color: $c-link-nav-hover;
          }
        }
      }
    }
  } // nav
} // #header
