#sidebar {
  float: left;
  width: 230px;
  
  .box {
    padding: 15px 15px 15px 15px;
    
    h3 { //name
      margin: 0;
      padding: 0;
      text-align: center;
      font-family: $f-name;
      font-size: $s-name;
      color: $c-name;
    }
    
    section {
      padding: 0.5rem 0;
      margin: 0;
      box-shadow: none;
      &:first-child {
        padding-top: 0;
        border-top: none;
      }
      &:last-child {
        padding-bottom: 0;
      }
      & *:last-child {
        padding-bottom: 0;
      }
    }
    
    blockquote { //tagline
      margin: 0;
      padding: 0;
      padding-top: 0.5em;
      text-align: center;
      line-height: 1.5em;
      font-family: $f-tagline;
      font-size: $s-tagline;
      font-style: italic;
      color: $c-tagline;
    }
    
    h4 { //headings
      font-family: $f-sidebar-h4;
      font-size: $s-sidebar-h4;
      margin-bottom: 5px;
      color: $c-headers;
    }
    
    ul {
      padding-left: 1em;
      
      &.contacts {
        padding-left: 1em;
      }
      
      a {
        display: inline;
        position: relative;
        
        &:hover:after {
          content: attr(tooltip);
          color: $c-text-lighter;
          font-size: $s-footer;
          padding: 1px 5px;
          position: absolute;
          z-index: 98;
          left: 100px;
          bottom: -0.5em;
        }
      }
    } // ul
    
    .recentlist {
      list-style-type: none;
      padding-left: 0.5em;
      
      li {
        margin-bottom: 0.5em;
      }
      
      .postinfo {
        display: block;
        margin-top: -0.5em;
        padding-left: 0;
        color: $c-postinfo;
        
        font-size: 11px;
        font-weight: normal;
        font-family: $f-libdesc;
      }
    }
    
    .footer {
      font-size: $s-footer;
      text-align: center;
      padding-top: 10px;
    }
  }
}
