#wrapper {
  margin: auto;
  max-width: 760px;

  @media (max-width: $width) {
    max-width: 500px;
  }
}

#contentwrapper {
  clear: both;
  max-width: 500px;
  float: right;
  
  @media (max-width: $width) {
    float: none;
  }
}
